<!doctype html>
<html ng-app>
  <head>
    <title>CSV to JSON</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h2>CSV to JSON</h2>
    <div ng-controller="CsvToJsonCtrl">
      <form ng-submit="parse()">
        <input class="btn-primary" type="submit" value="Parse">
        <br/>
        <textarea data-ng-model="csv" id="csv" cols="120" rows="15"
                  placeholder="Paste csv data here, fields in first line">
        </textarea>
        <br/>
        <textarea data-ng-model="json" id="json" cols="120" rows="15"
                  placeholder="json will appear here">
        </textarea>
      </form>
    </div>
  </body>
</html>
